<<<<<<< HEAD
﻿@model List<SazeNegar.Core.Models.Cart>
<div class="container">
=======
﻿<div class="container">
>>>>>>> master
    <div class="row">

        <div class="col-md-12">
            <h3 class="headline margin-bottom-25 margin-top-65">تازه ها</h3>
        </div>

        <!-- Carousel -->
        <div class="col-md-12">
            <div class="carousel">
<<<<<<< HEAD
            @{
                foreach (var item in Model)
                {
                    
                    <!-- Listing Item -->
                    <div class="carousel-item">
                        <div class="listing-item">

                            <a href="@item.Link" class="listing-img-container">

                                <div class="listing-badges">
                                    <span class="featured">@item.Special</span>
                                    <span>@item.Tag</span>
                                </div>

                                <div class="listing-img-content">
                                    <span class="listing-price">@item.Price تومان </span>

                                </div>

                                @*<div class="listing-carousel">*@
                                    <div><img src="~/Files/SliderCart/images/@item.Image" alt=""></div>
                                @*</div>*@

                            </a>

                            <div class="listing-content">

                                <div class="listing-title">
                                    <h4><a href="@item.Link">@item.Brand</a></h4>

                                </div>

                                <ul class="listing-features">
                                    <li>دنده <span>@item.Gear</span></li>
                                    <li>سانروف <span>@item.Sunroof</span></li>
                                    <li>نویگیشن <span>@item.Navigation</span></li>
                                </ul>

                                <div class="listing-footer">

                                    <span><i class="fa fa-calendar-o"></i> @item.Date</span>
                                    <div class="clearfix"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- Listing Item / End -->
                }
            }
=======

                <!-- Listing Item -->
                <div class="carousel-item">
                    <div class="listing-item">

                        <a href="single-car.html" class="listing-img-container">

                            <div class="listing-badges">
                                <span class="featured">ویژه</span>
                                <span>لوکس</span>
                            </div>

                            <div class="listing-img-content">
                                <span class="listing-price">275,000 تومان </span>

                            </div>

                            <div class="listing-carousel">
                                <div><img src="~/Content/AutoGallery/images/26.jpg" alt=""></div>
                                <div><img src="~/Content/AutoGallery/images/27.jpg" alt=""></div>
                                <div><img src="~/Content/AutoGallery/images/28.jpg" alt=""></div>
                            </div>

                        </a>

                        <div class="listing-content">

                            <div class="listing-title">
                                <h4><a href="single-car.html">لکسوس</a></h4>

                            </div>

                            <ul class="listing-features">
                                <li>دنده <span>اتوماتیک</span></li>
                                <li>سانروف <span>دارد</span></li>
                                <li>نویگیشن <span>دارد</span></li>
                            </ul>

                            <div class="listing-footer">

                                <span><i class="fa fa-calendar-o"></i> 1 روز پیش</span>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- Listing Item / End -->
                <!-- Listing Item -->
                <div class="carousel-item">
                    <div class="listing-item">

                        <a href="single-car.html" class="listing-img-container">

                            <div class="listing-badges">
                                <span>لاکچری</span>
                            </div>

                            <div class="listing-img-content">
                                <span class="listing-price">900 تومان </span>

                            </div>

                            <img src="~/Content/AutoGallery/images/29.jpg" alt="">

                        </a>

                        <div class="listing-content">

                            <div class="listing-title">
                                <h4><a href="single-car.html">فراری</a></h4>

                            </div>

                            <ul class="listing-features">
                                <li>دنده <span>دستی</span></li>
                                <li>سانروف <span>دارد</span></li>
                                <li>نویگیشن <span>ندارد</span></li>
                            </ul>

                            <div class="listing-footer">

                                <span><i class="fa fa-calendar-o"></i> 2 روز پیش</span>
                                <div class="clearfix"></div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- Listing Item / End -->
                <!-- Listing Item -->
                <div class="carousel-item">
                    <div class="listing-item">

                        <a href="single-car.html" class="listing-img-container">

                            <div class="listing-badges">
                                <span class="featured">ویژه</span>
                                <span>لوکس</span>
                            </div>

                            <div class="listing-img-content">
                                <span class="listing-price">1700 تومان </span>

                            </div>

                            <img src="~/Content/AutoGallery/images/30.jpg" alt="">

                        </a>

                        <div class="listing-content">

                            <div class="listing-title">
                                <h4><a href="single-car.html">مرسدس</a></h4>

                            </div>

                            <ul class="listing-features">
                                <li>دنده <span>دستی</span></li>
                                <li>سانروف <span>دارد</span></li>
                                <li>نویگیشن <span>ندارد</span></li>
                            </ul>

                            <div class="listing-footer">
                                <span><i class="fa fa-calendar-o"></i> 2 روز پیش</span>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        <!-- Listing Item / End -->

                    </div>
                </div>
                <!-- Listing Item / End -->
                <!-- Listing Item -->
                <div class="carousel-item">
                    <div class="listing-item">


                        <a href="single-car.html" class="listing-img-container">

                            <div class="listing-badges">
                                <span>لاکچری</span>
                            </div>

                            <div class="listing-img-content">
                                <span class="listing-price">420,000 تومان </span>

                            </div>

                            <!-- <div class="listing-carousel">
                                <div><img src="~/Content/AutoGallery/images/listing-04.jpg" alt=""></div>
                                <div><img src="~/Content/AutoGallery/images/listing-04b.jpg" alt=""></div>
                            </div> -->
                            <img src="~/Content/AutoGallery/images/31.jpeg" alt="">

                        </a>

                        <div class="listing-content">

                            <div class="listing-title">
                                <h4><a href="single-car.html">بی ام دبلیو</a></h4>

                            </div>

                            <ul class="listing-features">
                                <li>دنده <span>اتوماتیک</span></li>
                                <li>سانروف <span>دارد</span></li>
                                <li>نویگیشن <span>دارد</span></li>
                            </ul>

                            <div class="listing-footer">
                                <span><i class="fa fa-calendar-o"></i> 2 روز پیش</span>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        <!-- Listing Item / End -->

                    </div>
                </div>
                <!-- Listing Item / End -->
                <!-- Listing Item -->
                <div class="carousel-item">
                    <div class="listing-item">


                        <a href="single-car.html" class="listing-img-container">
                            <div class="listing-badges">
                                <span>لوکس</span>
                            </div>

                            <div class="listing-img-content">
                                <span class="listing-price">535,000 تومان </span>

                            </div>

                            <img src="~/Content/AutoGallery/images/32.jpeg" alt="">
                        </a>

                        <div class="listing-content">

                            <div class="listing-title">
                                <h4><a href="single-car.html">تویوتا</a></h4>

                            </div>

                            <ul class="listing-features">
                                <li>دنده <span>اتوماتیک</span></li>
                                <li>سانروف <span>دارد</span></li>
                                <li>نویگیشن <span>دارد</span></li>
                            </ul>

                            <div class="listing-footer">
                                <span><i class="fa fa-calendar-o"></i> 2 روز پیش</span>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        <!-- Listing Item / End -->

                    </div>
                </div>
                <!-- Listing Item / End -->


>>>>>>> master
            </div>
        </div>
        <!-- Carousel / End -->

    </div>
</div>
