<!DOCTYPE html>
<html lang="en" direction="rtl" dir="rtl" style="direction: rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Admin_Content/logo.png">
    <title>@ViewBag.Title - SazeNegar</title>
    @*@Styles.Render("~/Admin_Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <!--begin::Page Vendors Styles(used by this page)-->
    <link href="~/Admin_Content/admin/plugins/custom/fullcalendar/fullcalendar.bundle.rtl.css"
          rel="stylesheet"
          type="text/css" />
    <!--end::Page Vendors Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/Admin_Content/admin/plugins/global/plugins.bundle.rtl.css"
          rel="stylesheet"
          type="text/css" />
    <link href="~/Admin_Content/admin/plugins/custom/prismjs/prismjs.bundle.rtl.css"
          rel="stylesheet"
          type="text/css" />
    <link href="~/Admin_Content/admin/css/style.bundle.rtl.css"
          rel="stylesheet"
          type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->

    <link href="~/Admin_Content/admin/css/themes/layout/header/base/light.rtl.css"
          rel="stylesheet"
          type="text/css" />
    <link href="~/Admin_Content/admin/css/themes/layout/header/menu/light.rtl.css"
          rel="stylesheet"
          type="text/css" />
    <link href="~/Admin_Content/admin/css/themes/layout/brand/dark.rtl.css"
          rel="stylesheet"
          type="text/css" />
    <link href="~/Admin_Content/admin/css/themes/layout/aside/dark.rtl.css"
          rel="stylesheet"
          type="text/css" />
    <!--end::Layout Themes-->
    <script src="~/Admin_Content/admin/plugins/global/plugins.bundle.js"></script>
    <script src="~/Admin_Content/admin/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/Admin_Content/admin/js/scripts.bundle.js"></script>
    <script src="~/Admin_Content/admin/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/Admin_Content/admin/js/pages/widgets.js"></script>

    <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
    <link href="@Url.Content("~/Admin_Content/kendo/2020.1.114/kendo.common-nova.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Admin_Content/kendo/2020.1.114/kendo.material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Admin_Content/kendo/2020.1.114/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Admin_Content/admin/myStyle.css" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/kendo/2020.1.114/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2020.1.114/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2020.1.114/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <!-- My css -->
</head>
<body id="kt_body"
      class="header-fixed header-mobile-fixed aside-enabled aside-fixed aside-minimize-hoverable">
    <!-- begin::User Panel-->
    @RenderBody();
    @*@Html.Action("UserPartial", "Dashboard")*@
    <!-- end::User Panel-->
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop">
        <span class="svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="24px"
                 height="24px"
                 viewBox="0 0 24 24"
                 version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24" />
                    <rect fill="#000000"
                          opacity="0.3"
                          x="11"
                          y="10"
                          width="2"
                          height="10"
                          rx="1" />
                    <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z"
                          fill="#000000"
                          fill-rule="nonzero" />
                </g>
            </svg>
        </span>
    </div>
    <!--end::Scrolltop-->
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>
        var KTAppSettings = {
            breakpoints: {
                sm: 576,
                md: 768,
                lg: 992,
                xl: 1200,
                xxl: 1400,
            },
            colors: {
                theme: {
                    base: {
                        white: "#ffffff",
                        primary: "#3699FF",
                        secondary: "#E5EAEE",
                        success: "#1BC5BD",
                        info: "#8950FC",
                        warning: "#FFA800",
                        danger: "#F64E60",
                        light: "#E4E6EF",
                        dark: "#181C32",
                    },
                    light: {
                        white: "#ffffff",
                        primary: "#E1F0FF",
                        secondary: "#EBEDF3",
                        success: "#C9F7F5",
                        info: "#EEE5FF",
                        warning: "#FFF4DE",
                        danger: "#FFE2E5",
                        light: "#F3F6F9",
                        dark: "#D6D6E0",
                    },
                    inverse: {
                        white: "#ffffff",
                        primary: "#ffffff",
                        secondary: "#3F4254",
                        success: "#ffffff",
                        info: "#ffffff",
                        warning: "#ffffff",
                        danger: "#ffffff",
                        light: "#464E5F",
                        dark: "#ffffff",
                    },
                },
                gray: {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#EBEDF3",
                    "gray-300": "#E4E6EF",
                    "gray-400": "#D1D3E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#7E8299",
                    "gray-700": "#5E6278",
                    "gray-800": "#3F4254",
                    "gray-900": "#181C32",
                },
            },
            "font-family": "Poppins",
        };
    </script>
    <!--end::Global Config-->
    <script>
        var navActive = $('#nav_active').val();
        var navItemActive = $('#nav_item_active').val();
        if (navActive != null && navActive != "") {
            $('#nav_' + navActive + '').addClass("menu-item-open");
            if ($('#subnav_' + navActive + '').length) {
                $('#subnav_' + navActive + '').css("display", "");
                $('#subnav_' + navActive + '').css("overflow", "");
            }
        }
        if (navItemActive != null && navItemActive != "") {
            $('#nav_item_' + navItemActive + '').addClass("menu-item-active");
        }
    </script>
    <script>
        function accessDenied() {
            Swal.fire("Error!", "شما دسترسی لازم برای ورود به این بخش را ندارید", "error");
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>